## Exercício prático de regressão linear

Instruções: Use o dataset 'datasetCarros.csv' em todos os exercícios.

# 1
a) Faça um modelo de regressão linear simples utilizando a variável 'KmRodado' para prever a 'PrecoVenda'.<br>

b) Calcule o R2 para o modelo criado.

In [7]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [8]:
file_path = 'datasetCarros.csv'
df = pd.read_csv(file_path)
df

,Nome,Ano,PrecoVenda,PrecoAtual,KmRodado,TipoCombustivel,Trasmissao,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Manual,0
...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Manual,0

In [17]:
# 1)a
# Reshape dos dados para ser input da função fit
X = df[['KmRodado']]

Y = df['PrecoVenda']

# # Separação em 80/20 treino teste
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20) 

regr = LinearRegression()

# Execução do modelo
regr.fit(X_train, y_train)

precoVenda_pred = regr.predict(X_test)

#1)b
print("R2: %.2f" % r2_score(y_test, precoVenda_pred))

Coeficiente:
 [5.28023196e-06]
MSE: 28.22
R2: -0.01

# 2
a) Separe o dataset em teste (5%) e treino (95%). Use o método 'train_test_split' do sklearn; configure o parâmetro random_state=10. <br>

b) Treine um modelo de regressão linear múltipla no dataset de treino utilizando todas as variáveis (exceto 'Nome') para prever a 'PrecoVenda' e exiba os coeficientes do modelo.<br>

c) Avalie o modelo encontrado utilizando o dataset de teste. Calcule o R2 e MSE.

In [10]:
file_path = 'datasetCarros.csv'
df = pd.read_csv(file_path)
df

,Nome,Ano,PrecoVenda,PrecoAtual,KmRodado,TipoCombustivel,Trasmissao,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Manual,0
...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Manual,0

In [11]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df.loc[:, 'TipoCombustivel'] = label_encoder.fit_transform(df['TipoCombustivel'])
df.loc[:, 'Trasmissao'] = label_encoder.fit_transform(df['Trasmissao'])

df

/tmp/ipykernel_32525/3637558970.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'TipoCombustivel'] = label_encoder.fit_transform(df['TipoCombustivel'])
/tmp/ipykernel_32525/3637558970.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'Trasmissao'] = label_encoder.fit_transform(df['Trasmissao'])

,Nome,Ano,PrecoVenda,PrecoAtual,KmRodado,TipoCombustivel,Trasmissao,Owner
0,ritz,2014,3.35,5.59,27000,2,1,0
1,sx4,2013,4.75,9.54,43000,1,1,0
2,ciaz,2017,7.25,9.85,6900,2,1,0
3,wagon r,2011,2.85,4.15,5200,2,1,0
4,swift,2014,4.60,6.87,42450,1,1,0
...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,1,1,0
297,brio,2015,4.00,5.90,60000,2,1,0
298,city,2009,3.35,11.00,87934,2,1,0
299,city,2017,11.50,12.50,9000,1,1,0
300,brio,2016,5.30,5.90,5464,2,1,0

In [12]:
# Reshape dos dados para ser input da função fit
X = df[['Ano', 'PrecoAtual','KmRodado','TipoCombustivel','Trasmissao','Owner']]

Y = df['PrecoVenda']

# 2) a
# Separação em 95/5 treino teste
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.05, random_state=10) 

regr = LinearRegression()

# Execução do modelo
regr.fit(X_train, y_train)

precoVenda_pred = regr.predict(X_test)

# resultados 2)c
print("Coeficiente: \n", regr.coef_)
print("MSE: %.2f" % mean_squared_error(y_test, precoVenda_pred))
#1)b
print("R2: %.2f" % r2_score(y_test, precoVenda_pred))

Coeficiente:
 [ 3.82457823e-01 -2.86702234e-04  1.64623728e-06 -5.58625742e+00
 -4.73812925e+00 -8.51402501e-01]
MSE: 8.38
R2: 0.64